<section id="title">
  <h1>New York Times Scraper</h1>
</section>

<section id="article-wrapper">

<h5>The News</h5>
<hr>

{{!-- EACH ARTICLE --}}
  {{#each article}}
  <div class="card">
    <p><span id="card-highlight">TITLE:</span> <br>{{this.title}}</p><br>
    <p><span id="card-highlight">SUMMARY:</span> <br>{{this.summary}}</p><br>
    <p><span id="card-highlight">NOTES:</span></p>

    {{!-- EACH NOTE --}}
    {{#each this.note}}
      <div id="notes-included"> 
        <p><span id="bold">Title: </span> {{this.title}}</p>
        <p><span id="bold">Note: </span>{{this.body}}</p>
        <br>
      </div>
    {{/each}}

    {{!-- THE BUTTONS --}}
    <div id="button-div">
      <button class="link-button" data-id="{{this._id}}" href="{{this.link}}">Go to Article</button>
      <button class="note" data-id="{{this._id}}">Write a Note</button>
      </div>
          <div class="notes"></div>
    </div>

  {{/each}}

</section>